/*

    Variables: Body

*/

// ==========================================================================
// Dependencies
// ==========================================================================

// ==========================================================================
// Variables
// ==========================================================================
$core-small-padding: 15px;
$core-large-padding: $core-small-padding * 2;
$core-small-margin: 20px;
$core-large-margin: $core-small-margin * 2;
$core-border-radius: 4px;
// ==========================================================================
// Author content
// ==========================================================================
