/*

    Variables: Colours

*/

// ==========================================================================
// Dependencies
// ==========================================================================

// ==========================================================================
// Variables
// ==========================================================================

$recruiter-link-color: #0079d1;
$recruiter-secondary-hover: #0d4fb2;
$recruiter-white: #fff;
$recruiter-global-blue: #095bbc;
$recruiter-global-blue-hover: #004fac;
$recruiter-tertiary-blue: #072ac6;
$recruiter-dark-grey: #222e39;
$recruiter-darkest-grey: #1d2730;
$recruiter-border-grey: #364859;
$recruiter-box-shadow: #eaeaea;
$recruiter-overline-color: rgba(0, 0, 0, 0.54);
$recruiter-footer-text: #f4f4f5;
$recruiter-contrast-link: #d6d6d6;
$recruiter-purple: #821d90;
$recruiter-text-secondary: #333;
$recruiter-layout-background: #f5f7fa;
$recruiter-primary-button: #e84188;
$recruiter-primary-button-hover: #e52a7a;
$recruiter-primary-link: #0079d6;
$recruiter-border: #cfddf3;
$recruiter-primary-icon-hover: #00487f;

$core-color-white: #fff;
$core-color-black: #000;
$core-color-pink: #e84188;
$core-color-pink-dark: #ca246a;
$core-color-transparent: transparent;
$core-color-dark-blue: #063873;
$core-color-light-blue: #4990c7;

$core-color-label-text: #222e3a;
$core-color-input-text: #495057;
$core-color-input-border: #d6d6d6;
$core-color-input-active-border: #0079d6;
$core-color-secondary-hover: #0d4fb2;
$core-color-link-color: #0079d1;
$core-color-bg-grey: #f5f7fa;
$core-color-body-text: #333;
$core-color-cyan: #cfddf3;

$status-0-bg: #c00;
$status-1-bg: #009e0f;
$status-2-bg: #6fa8dc;
$status-3-bg: #674ea7;
$status-4-bg: #735a11;
$status-5-bg: #353daf;

// ==========================================================================
// Author content
// ==========================================================================
