/*

    Variables: Font

*/

// ==========================================================================
// Dependencies
// ==========================================================================

// ==========================================================================
// Variables
// ==========================================================================

$recruiter-font-family-base: 'Open Sans', Helvetica, Arial, sans-serif;
$recruiter-headings-font-family: 'Montserrat', sans-serif;

$core-body-title-size: 26px;
$core-body-font-size: 16px;

// ==========================================================================
// Author content
// ==========================================================================
